@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

:root {
    --cor1: #1A4466;
    --cor2: #81BAEA;
    --cor3: #3A99E6;
    --cor4: #385166;
    --cor5: #2D76B3;

    --font: 'Caveat', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagens/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.capa {
    width: 100%;
    margin-bottom: -4px;
}

nav {
    background-image: linear-gradient(to right, var(--cor1), var(--cor3));
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
}

nav > a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bolder;
    padding: 8px;
}

nav > a:hover {
    color: var(--cor1);
    background-color: white;
    border-radius: 10px;
    transition-duration: 0.5s;
}

main {
    background-color: rgba(255, 255, 255, 0.877);
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    margin-top: 4px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.623);
}

main p {
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    margin: 0px 20px;
}

main hr {
    height: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

main img {
    margin: auto;
    display: block;
    width: 400px;
    min-width: 30vw;
    max-width: 90vw;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-family: var(--font);
    font-size: 2em;
    color: var(--cor1);
    text-indent: 20px;
    padding: 15px;
}

h2 {
    background-image: linear-gradient(to right, var(--cor1), var(--cor3));
    font-family: var(--font);
    font-size: 1.9em;
    color: white;
    text-indent: 20px;
    margin: 20px;
    padding: 10px;
}

h3 {
    font-family: var(--font);
    font-size: 1.7em;
    color: var(--cor4);
    text-indent: 20px;
    margin: 20px;
}

h4 {
    font-family: var(--font);
    font-size: 1.5em;
    color: var(--cor5);
    text-indent: 20px;
    margin: 20px;
}

h1.titulos {
    text-align: center;
}

ul {
    padding-left: 50px;
}

p.titulos {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.video {
    background-color: var(--cor3);
    margin: 20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

table {
    width: 750px;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    color: white;
    background-color: var(--cor3);
}

thead th, tfoot th {
    color: white;
    background-color: var(--cor4);
}

td.total {
    color: white;
    font-weight: bolder;
    background-color: var(--cor4);
}

div.tabela {
    overflow: auto;
}

footer {
    background-image: linear-gradient(to right, var(--cor1), var(--cor3));
    color: white;
    padding: 10px;
    margin-top: 4px;
    text-align: center;
    box-shadow: 5px 5px 0px 5px rgba(0, 0, 0, 0.623);
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: white;
    font-size: bolder;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor3);
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.5s;
}