span#burguer {
    display: none;
}

menu {
    background-image: linear-gradient(to right, var(--cor1), var(--cor3));
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
}

menu > a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder;
    padding: 8px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

menu > a:hover {
    color: var(--cor1);
    background-color: white;
    border-radius: 10px;
    transition-duration: 0.5s;
    text-shadow: none;
    cursor: pointer;
}

@media screen and (max-width: 646px) {
    span#burguer {
        background-image: linear-gradient(to right, var(--cor1), var(--cor3));
        color: white;
        display: block;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.507);
    }
    
    menu {
        display: none;
    }
    
    menu > a {
        font-size: 1.2em;
        display: block;
        text-align: center;
        padding: 10px;
        border-top: 1px solid white;
    }
    
    menu a:hover {
        color: var(--cor2);
        background: none;
    }
}