h1.titulos {
    text-align: center;
}

p.titulos {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    padding-left: 50px;
}

@media screen and (max-width: 646px) {
    ul {
        max-width: 90%;
    }
}