footer {
    background-image: linear-gradient(to right, var(--cor1), var(--cor3));
    color: white;
    padding: 10px;
    margin-top: 4px;
    text-align: center;
    box-shadow: 5px 5px 0px 5px rgba(0, 0, 0, 0.623);
}

footer p {
    font-size: 1.2em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.685);
}

footer a {
    color: white;
    font-size: bolder;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor3);
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.5s;
    cursor: pointer;
    text-shadow: none;
}